In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("TwitterTrain16million.csv", encoding="latin1", header=None)

In [5]:
df.head()

,0,1,2,3,4,5
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [14]:
#Removing unecessary columns
df.drop(labels=[1,2,3,4], axis=1,inplace=True)

In [19]:
df.columns = ["Sentiment","Twits"]
df.head()

   Sentiment                                              Twits
0          0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1          0  is upset that he can't update his Facebook by ...
2          0  @Kenichan I dived many times for the ball. Man...
3          0    my whole body feels itchy and like its on fire
4          0  @nationwideclass no, it's not behaving at all....

In [20]:
df['Sentiment'].value_counts()

0    800000
4    800000
Name: Sentiment, dtype: int64

In [21]:
#Repalceing sentiment values 0 for negative and 1 for positive instead of 4
df['Sentiment'].replace(to_replace=4,value=1,inplace=True)

In [22]:
df['Sentiment'].value_counts()

0    800000
1    800000
Name: Sentiment, dtype: int64

In [23]:
df.head()

   Sentiment                                              Twits
0          0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1          0  is upset that he can't update his Facebook by ...
2          0  @Kenichan I dived many times for the ball. Man...
3          0    my whole body feels itchy and like its on fire
4          0  @nationwideclass no, it's not behaving at all....